#output {
  display: none;
  text-align: center;
  font-family: 'Fascinate Inline', cursive;
  padding: 20px;
}

.success {
  background-color:#F90505;
  color: white;
}

.within5 {
  background-color:#FF4F00;
}

.within10 {
  background-color:#FF6B00;
}

.within25 {
  background-color:#FF9800;
}

.within50 {
  background-color:#FFC600;
}

.within100 {
  background-color:#00FFDA  ;
}

.within250 {
  background-color:#00C9FF;
}

.within500 {
  background-color:#009CFF;
}

.notwithin500 {
  background-color:#002BFF;
}

/* h3, h5 {
  font-family: 'Fascinate Inline', cursive;
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  color: #aa9c19;
  opacity: .9;
} */

/* border: 1px solid black; */
/* background-color: grey; */
